body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.name {
  font-family: 'Dancing Script', cursive;
  color: #ff9900;
  font-size: 60px;
  margin: 0;
}

.title {
  font-family: 'Dancing Script', cursive;
  color: #ff9900;
  font-size: 35px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  font-size: 20px;
  margin: 10px 30px 0 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
  text-decoration: underline;
}

nav ul li a.hover {
  color: #6283b4;
}

main {
  flex-grow: 1;
  display: flex;
  font-family: 'Playfair Display', serif;
}

section {
  display: flex;
  align-items: stretch;
}

.left-section,
.right-section {
  display: flex; 
  flex-direction: column;
  width: 20%;
  background-color: #000000;
}

.middle-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #e0e0e0;
  background-color: #535353;
  padding: 10px 50px 10px 50px;
}

.middle-section p {
  font-size: 20px;
}

.project {
  margin-bottom: 30px;
}

#project-1, #project-2 {
  display: flex;
}

h2 {
  color: #6283b4;
}

.project h3 {
  /* text-align: center; */
  color: #ff9900;
  margin:  0;
}

.project img {
  max-width: 90%;
  height: auto;
}

.project img.enlarge {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.project-screenshot {
  flex: 1;
}

.project-desc {
  flex: 2;
}

.project-desc p {
  font-size: 16px;
}
